/* General */
body{
	background: url('../img/carbon.jpg') 0 0 ;
	height: 100%;
    margin: 0;
}

h2{
	color: #8DBDDD;
}

a{
	text-decoration: none;
	color:#B9B9B9;
}

p a {
	text-decoration: none;
	color:#B9B9B9;
}
p a:active {
	text-decoration: none;
	color:#FFFFFF;
}

#header{
	height: 75px;
	width:100%;
	background-color: rgba(0, 0, 0, 0.40);
}
#header_content{
	padding: 0 0px;
 	width: 85%;
	max-width: 1000px;
 	height: 75px;
	margin: 0 auto;
}

#container{
	width: 100%;
}

#name{
	float: left;
	padding: 15px 0;
	font-family: 'Lobster', cursive;
	color: #fff;
	font-size:36px;
	text-decoration: none;
}
#nav{
	float: right;
	margin: 0px 20px 0 20px;
	padding: 0px 0px 0px 20px;
	height: 100%;
	line-height: 75px;
	font-family: 'Raleway', sans-serif;
}
#nav a{
	cursor: pointer;
	padding: 0px 20px 0px 0px;
	color:white;
}
#nav a.selected{
	color:#aaa;
}
#nav a:hover{
}
#content{
	width:85%;
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}
.page{
	padding: 0px 0px 0px 0px;
}

/* Individual page specific*/
/* Page 1, About me */
#mitchPic{
	float: left;
}
#page1 img {
	margin: 0px 15px 0px 0px;
	border-radius: 10px;
	box-shadow: 10px 10px rgba(141, 189, 221, 0.14);
}

#mitchDescription{
	display: inline-block;
	max-width: 550px;
	padding: 0 0 0 18px;
}

.descriptionBlock{
	border-radius: 5px;
	list-style: none;
	display: inline-block;
}

.whoAmI{
	font-size: 32px;
	color: #fff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	letter-spacing: 1px;
}

.descriptionBlock li{
	padding: 8px 12px;
	max-width: 390px;
	min-width: 100px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.descriptionBlock li:nth-child(even){
	background-color: rgba(255, 255, 255, 0.18);
	color: white;
	float: right;
	text-align: right;
	
}

.descriptionBlock li:nth-child(odd){
	background-color: #aaa;
	float: left;
}

#page1 p {
	margin: 0px 0px 10px 0px;
}

/* Page 2, Projects */
#page2 h2{
	color: #fff;
	/*text-shadow: -2px 0 #8DBDDD, 0 2px #8DBDDD, 2px 0 #8DBDDD, 0 -2px #8DBDDD;
	letter-spacing: 1px;*/
}
#page2 table{
	table-layout: fixed;
	border-radius: 20px;
	padding: 5px 15px;
	margin-top: 10px;
	background-color: rgba(133, 133, 133, 0.44);
}
.majorProj{
	width: 100%;
}
.majorProj img{
	display: inline-block;
	width: 40%;
	float: left;
	padding-right: 25px;
}
.majorProj p {
	font-size: 17px;
}
.minorProj{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}
.minorProj img{
	width: 90%;
	padding: 0 auto;
}
.minorProj p {
	font-size: 15px;
	width: 90%;
}




/* Page 3, Resume */
#page3{
	text-align:center;
}

#page3 img{
	padding-top: 30px;
}
/*#resumeLink{
	font-family: 'lobster';
	font-size: 50px;
	color: #aaa;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}*/

/* Page 4, Contact */
#socialList {
	list-style:none;
	max-width: 300px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}


#socialList li{
	font-family: 'Lobster', cursive;
	padding: 8px 12px;
	margin-bottom: 10px;
	border-radius: 10px;
	display: block;
    height: 60px;
    line-height: 60px;
    min-width: 325px;
	text-align: center;
}

#socialList li:nth-child(odd){
	float: right;
	color:white;	
}

#socialList li:nth-child(odd) strong{
	color: #aaa;
}

#socialList li:nth-child(even){
	float: left;
}

#socialList li img {
    vertical-align: middle;
}
#socialList li a {
    text-decoration: none;
    color: white;
    /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;*/
}
#socialList li strong {
	font-size: 50px;
}